<html>
<head>
<title>QRCODE Reader</title>

<style type="text/css">
	/*#qr-canvas {display: none;}*/
	#output {
		border: 1px solid #777777;
		padding: 0px;
		margin: 20px;
		width: 100%;
		min-height: 300px;
	}
	#output ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	#output li{
		border-bottom: 1px solid #dddddd;
		padding: 7px;
		background-color: #eeeeee;
	}

	#output li img{
		height: 30px;
	}
</style>

<script type="text/javascript" src="static/js/qr_code_reader/grid.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/version.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/detector.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/formatinf.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/errorlevel.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/bitmat.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/datablock.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/bmparser.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/datamask.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/rsdecoder.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/gf256poly.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/gf256.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/decoder.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/qrcode.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/findpat.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/alignpat.js"></script>
<script type="text/javascript" src="static/js/qr_code_reader/databr.js"></script>

</head>

<body onload="load()">
		<video id="video" width="320" muted loop autoplay></video>
		<canvas id="qr-canvas" width="320"></canvas>
		<div id="output"></div>
</body>

<script type="text/javascript">
	var constraints = {audio: false, video: { width: 320 }};
	var canvas = document.getElementById('qr-canvas').getContext('2d');
	var video = document.getElementById('video');
	var output = document.getElementById('output');
	var sending = false;
	var last = 0;
	qrcode.debug = true;

	function read(a){
		if(sending) return;
		output.innerHTML = "<ul><li>Sending...</li></ul>"
		sending = true;
		console.log("Sending: " + a);
		params = "id="+a.trim();
		var xhr = new XMLHttpRequest();
		xhr.open("POST", "/qr_capture", true);
		xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhr.onprogress = function () {
  		output.innerHTML = "<ul><li>"+xhr.responseText.split("\r\n").join("</li><li>")+"<img id=\"loading\" src=\"/static/images/loading.gif\" /></li></ul>";
		}
		xhr.onreadystatechange = function () {
  		if(xhr.readyState === XMLHttpRequest.DONE){
				sending = false;
				document.getElementById('loading').setAttribute("style", "display: none;");
			}
		}
		xhr.send(params);
	}

	function load(){
		qrcode.callback = read;
		var promise = navigator.mediaDevices.getUserMedia(constraints)
		.then(function(mediaStream){
			console.log(mediaStream);
			video.setAttribute('style', 'transform:rotateY(-180deg);');
			video.srcObject = mediaStream;
			document.getElementById('qr-canvas').setAttribute('height', "240px");
			draw();
		});
	}

	function draw(timestamp){
		var next = timestamp - last;
		if(next >= 200){
			canvas.drawImage(video, 0, 0);
			decode();
			last = timestamp;
		}
		requestAnimationFrame(draw);
	}

	function decode(){
		try{
			qrcode.decode();
		}catch(e){
			console.error(e);
		}
	}
</script>
</html>
